<div class="bg-box">

  <div class="login-phone" style="margin-bottom:30px;"><h4>忘記密碼</h4></div>

  <div class="login">
    <%= form_for(resource, as: resource_name, url: new_user_session_path) do |f| %>

      <div style="margin: 60px 0px;">
        請在下方填入您的信箱，我們將會寄送修改密碼的連結給您，麻煩您至信箱收取信件。
      </div>

      <div class="field" style="margin-bottom:80px;">
        信箱
        <%= f.email_field :email, autofocus: true, placeholder: "請輸入您的信箱，以修改密碼", autocomplete: "email", style: "margin-left:40px; width: 75%",  class: "form-style box" %>
      </div>

      <div class="actions submit-button" style="margin-bottom: 10px; text-align: center;">
        <%= f.submit "確認送出", class: "login-submit", style: "width: 60%" %>
      </div>

    <% end %>

  </div>

</div>
