<svg id="圖層_1" data-name="圖層 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 3628.35 4166.67">
  <defs>
    <style>
      .cls-1, .cls-16, .cls-22 {
        fill: #fff;
      }

      .cls-2 {
        opacity: 0.6;
      }

      .cls-3 {
        fill: #4ca8e0;
      }

      .cls-4 {
        opacity: 0.5;
      }

      .cls-5 {
        fill: #f28cb1;
      }

      .cls-6 {
        opacity: 0.7;
      }

      .cls-7 {
        fill: url(#linear-gradient);
      }

      .cls-8 {
        fill: url(#linear-gradient-2);
      }

      .cls-9 {
        fill: url(#linear-gradient-3);
      }

      .cls-10 {
        fill: url(#linear-gradient-4);
      }

      .cls-11 {
        fill: url(#linear-gradient-5);
      }

      .cls-12 {
        opacity: 0.3;
      }

      .cls-13 {
        fill: url(#linear-gradient-6);
      }

      .cls-14 {
        opacity: 0.8;
      }

      .cls-15 {
        fill: #eded94;
      }

      .cls-16, .cls-18, .cls-20, .cls-23 {
        stroke: #59544f;
      }

      .cls-16, .cls-18, .cls-20, .cls-22, .cls-23, .cls-27 {
        stroke-miterlimit: 10;
      }

      .cls-16, .cls-20, .cls-22, .cls-23, .cls-27 {
        stroke-width: 3px;
      }

      .cls-17, .cls-23 {
        fill: #9b3af6;
      }

      .cls-18, .cls-20, .cls-27 {
        fill: none;
      }

      .cls-18 {
        stroke-width: 3.21px;
      }

      .cls-19, .cls-24, .cls-29 {
        fill: #5f0ac7;
      }

      .cls-21 {
        fill: #f2e6ff;
      }

      .cls-22, .cls-27 {
        stroke: #fff;
      }

      .cls-24 {
        font-size: 34.53px;
        letter-spacing: 0.09em;
      }

      .cls-24, .cls-28 {
        font-family: GOGOIA-Deco, GOGOIA Deco;
      }

      .cls-25 {
        letter-spacing: 0.05em;
      }

      .cls-26 {
        letter-spacing: 0.06em;
      }

      .cls-28 {
        font-size: 48.12px;
        fill: #595551;
      }

      .cls-29 {
        font-size: 80px;
        font-family: GenJyuuGothic-Bold, GenJyuuGothic Bold;
        font-weight: 700;
        letter-spacing: 0.09em;
      }

      .cls-30 {
        font-size: 50px;
        fill: #59544f;
        letter-spacing: 0.08em;
      }

      .cls-31 {
        letter-spacing: 0.06em;
      }

      .cls-32 {
        letter-spacing: -0.4em;
      }

      .cls-33 {
        letter-spacing: 0.08em;
      }

      .cls-34 {
        letter-spacing: 0.06em;
      }

      .cls-35 {
        letter-spacing: -0.41em;
      }

      .cls-36 {
        letter-spacing: 0.06em;
      }

      .cls-37 {
        letter-spacing: -0.4em;
      }

      .cls-38 {
        letter-spacing: -0.4em;
      }
    </style>
    <linearGradient id="linear-gradient" x1="65.14" y1="1003.8" x2="492.28" y2="1003.8" gradientUnits="userSpaceOnUse">
      <stop offset="0" stop-color="#fff"/>
      <stop offset="1" stop-color="#ea94a2"/>
    </linearGradient>
    <linearGradient id="linear-gradient-2" x1="138" y1="3148.45" x2="562.91" y2="3148.45" gradientUnits="userSpaceOnUse">
      <stop offset="0" stop-color="#e8eb96"/>
      <stop offset="0.83" stop-color="#4ca8e0"/>
    </linearGradient>
    <linearGradient id="linear-gradient-3" x1="3081.47" y1="2021.36" x2="3480.74" y2="2021.36" gradientUnits="userSpaceOnUse">
      <stop offset="0" stop-color="#eded94"/>
      <stop offset="0.78" stop-color="#ea94a2"/>
    </linearGradient>
    <linearGradient id="linear-gradient-4" x1="2942.56" y1="2335.85" x2="3227.98" y2="2335.85" xlink:href="#linear-gradient-3"/>
    <linearGradient id="linear-gradient-5" x1="40.08" y1="651.57" x2="229.58" y2="651.57" gradientUnits="userSpaceOnUse">
      <stop offset="0" stop-color="#eded94"/>
      <stop offset="1" stop-color="#ea94a2"/>
    </linearGradient>
    <linearGradient id="linear-gradient-6" x1="51.53" y1="2859.98" x2="372.42" y2="2859.98" gradientUnits="userSpaceOnUse">
      <stop offset="0" stop-color="#e8eb96"/>
      <stop offset="0.09" stop-color="#dfe79a"/>
      <stop offset="0.24" stop-color="#c6dca6"/>
      <stop offset="0.42" stop-color="#9dcbba"/>
      <stop offset="0.64" stop-color="#65b3d4"/>
      <stop offset="0.73" stop-color="#4ca8e0"/>
    </linearGradient>
  </defs>
  <title>content</title>
  <polygon class="cls-1" points="0 0 3628.35 0 3628.35 3436.49 0 4166.67 0 0"/>
  <g class="cls-2">
    <path class="cls-3" d="M650.64,3254.15c110.32,72.32,219.42,146.49,328.25,221q44.45,30.43,88.86,60.93l71.66,30.24a302.11,302.11,0,0,0,159.51,0c75-20.62,140-70.8,179.29-137.86,40.58-69.29,51.54-153.74,30.24-231.17l-30.24-71.67A301.48,301.48,0,0,0,1370.58,3018c-109.24-75-218.49-149.94-328.7-223.48q-44.09-29.41-88.41-58.48l-71.66-30.25a302.31,302.31,0,0,0-159.51,0c-75,20.63-140,70.81-179.29,137.87-40.58,69.29-51.54,153.74-30.24,231.17L543,3146.52a301.51,301.51,0,0,0,107.63,107.63Z"/>
  </g>
  <g class="cls-4">
    <path class="cls-5" d="M575.39,1081.58c110.32,72.31,219.41,146.49,328.25,221q44.45,30.45,88.86,60.94l71.66,30.24a302.11,302.11,0,0,0,159.51,0c75-20.63,140-70.81,179.29-137.87,40.58-69.28,51.54-153.73,30.24-231.16L1403,953.08a301.48,301.48,0,0,0-107.63-107.62c-109.24-75-218.49-149.94-328.7-223.48q-44.08-29.41-88.41-58.49l-71.67-30.24a302.07,302.07,0,0,0-159.5,0c-75,20.63-140,70.81-179.29,137.87-40.59,69.28-51.54,153.73-30.24,231.17L467.76,974a301.51,301.51,0,0,0,107.63,107.63Z"/>
  </g>
  <g class="cls-6">
    <path class="cls-7" d="M47.36,901.61c110.33,72.32,219.42,146.5,328.25,221q44.46,30.43,88.86,60.93c20.26,13.9,49.85,3.86,61.57-16.14a45.32,45.32,0,0,0,4.54-34.68c-3.28-11.91-10.75-20.07-20.68-26.89-109.25-75-218.49-149.94-328.7-223.48Q137.1,853,92.78,823.9C72.25,810.43,43.13,819.7,31.22,840c-12.88,22-4.33,48.15,16.14,61.57Z"/>
  </g>
  <g class="cls-4">
    <path class="cls-8" d="M124.17,3037.64c110.33,72.32,219.42,146.5,328.26,221q44.44,30.43,88.86,60.94c15.75,10.81,38.77,3,47.88-12.56,10.17-17.36,3.14-37.11-12.55-47.89-109.25-75-218.49-149.94-328.7-223.47q-44.1-29.43-88.42-58.49c-16-10.47-38.62-3.26-47.88,12.56-10,17.09-3.37,37.45,12.55,47.88Z"/>
  </g>
  <g class="cls-4">
    <path class="cls-9" d="M3106.52,2200.73c101-84,203.49-166.27,306.2-248.21q42.74-34.08,85.5-68.1c12.81-10.2,10.58-31.85,0-42.43a30.11,30.11,0,0,0-21.21-8.78c-8.67,0-14.7,3.6-21.22,8.78-103.25,82.2-206.51,164.39-308.7,247.92q-41.64,34-83,68.4c-12.59,10.46-10.76,31.66,0,42.42a30.08,30.08,0,0,0,21.21,8.79c8.54,0,14.87-3.51,21.22-8.79Z"/>
  </g>
  <g class="cls-4">
    <path class="cls-10" d="M2960.51,2464.67c92.24-77.07,186.12-152.17,280-227.27,9.15-7.33,7.59-22.8,0-30.39-9-9-21.25-7.31-30.39,0-93.85,75.11-187.73,150.2-280,227.28-9,7.51-7.72,22.66,0,30.38,8.83,8.83,21.41,7.5,30.39,0Z"/>
  </g>
  <g class="cls-4">
    <path class="cls-11" d="M28.23,614.39c28,18.33,56.3,36.25,83.52,55.68,12.68,9,25,18.59,37.71,27.61,20.38,14.48,41,28.65,61.59,42.8,13.5,9.27,33.23,2.57,41-10.76,8.72-14.89,2.69-31.81-10.76-41.05-28.26-19.4-56.7-38.65-84.16-59.17-12.3-9.19-24.76-18-37.52-26.57-20.28-13.59-40.72-27-61.14-40.34-13.69-9-33.1-2.8-41,10.76-8.58,14.65-2.88,32.1,10.77,41Z"/>
  </g>
  <g class="cls-12">
    <path class="cls-13" d="M43.59,2772.86c106.48,68.08,211.5,138.41,316.51,208.73,9.07,6.07,22.11,1.79,27.37-7.18,5.76-9.84,1.86-21.31-7.18-27.36-105-70.32-210-140.65-316.52-208.73-9.19-5.88-22-2-27.36,7.17-5.68,9.69-2,21.5,7.18,27.37Z"/>
  </g>
  <g class="cls-14">
    <path class="cls-15" d="M2640.35,1639.1c-110.33,72.32-219.42,146.5-328.26,221q-44.45,30.43-88.86,60.94L2162.52,1968a299.69,299.69,0,0,0-77.15,132.38c-21.3,77.43-10.35,161.88,30.24,231.16,39.28,67.07,104.3,117.25,179.29,137.87l79.75,10.72a298.59,298.59,0,0,0,151.41-41c109.25-75,218.49-149.94,328.7-223.48q44.1-29.41,88.42-58.48l60.71-46.91A299.69,299.69,0,0,0,3081,1977.9c21.3-77.44,10.35-161.88-30.24-231.17-39.28-67.06-104.3-117.24-179.29-137.87l-79.75-10.71a298.58,298.58,0,0,0-151.41,40.95Z"/>
  </g>
  <g>
    <g>
      <polygon class="cls-16" points="743.92 3042.51 807.93 3042.51 822.43 3474.94 724.63 3474.94 743.92 3042.51"/>
      <rect class="cls-16" x="773.53" y="3348.92" width="411.54" height="126.02"/>
      <polygon class="cls-16" points="862.96 3148.4 849.27 3296.58 916.11 3296.58 902.42 3148.4 862.96 3148.4"/>
      <polygon class="cls-16" points="959.57 3148.4 945.88 3296.58 1012.72 3296.58 999.03 3148.4 959.57 3148.4"/>
      <polygon class="cls-16" points="1056.18 3148.4 1042.49 3296.58 1109.33 3296.58 1095.64 3148.4 1056.18 3148.4"/>
      <rect class="cls-17" x="837.39" y="3376.1" width="14.5" height="31.41"/>
      <rect class="cls-17" x="875.44" y="3376.1" width="14.49" height="31.41"/>
      <rect class="cls-17" x="913.49" y="3376.1" width="14.49" height="31.41"/>
      <rect class="cls-17" x="951.54" y="3376.1" width="14.49" height="31.41"/>
      <rect class="cls-17" x="989.59" y="3376.1" width="14.49" height="31.41"/>
      <rect class="cls-17" x="1027.63" y="3376.1" width="14.5" height="31.41"/>
      <rect class="cls-17" x="1065.68" y="3376.1" width="14.5" height="31.41"/>
      <rect class="cls-17" x="1103.73" y="3376.1" width="14.49" height="31.41"/>
      <path class="cls-16" d="M777.85,3042.51s1.42,0,0-6.05-30-7.13-22.55-37.07c7.49-30.2,45.65-22.5,45.65-22.5s4-47.51,48.32-26.58c0,0,13.69-65.22,82.94-33.82,0,0,40.18-67,110.28-8.55,0,0,69.3-69.56,146.6,2.11s-22.21,251.35-155.18,143.08c0,0-11.51-11.82-12.31-18.67,0,0-50.33,28.59-90.19-18.52,0,0-43.08,21.34-76.1-12.88,0,0-11.67,22.53-36,10.36,0,0-16.17.81-11.49,16,1.75,5.72-2.41,13.05-2.41,13.05H777.85"/>
      <polygon class="cls-16" points="735.32 3474.94 735.32 3341.67 635.07 3341.67 635.07 3385.69 662.85 3385.69 662.85 3474.94 735.32 3474.94"/>
      <rect class="cls-16" x="762.68" y="3296.58" width="433.23" height="52.34"/>
    </g>
    <g>
      <polygon class="cls-16" points="1452.68 3071.47 1253.42 3182.88 1253.42 3472.13 1289.85 3472.13 1289.85 3221.45 1617.65 3221.45 1617.65 3472.13 1655.15 3472.13 1654.95 3182.35 1452.68 3071.47"/>
      <rect class="cls-17" x="1417.86" y="3164.67" width="74.72" height="34.55"/>
      <rect class="cls-18" x="1289.85" y="3221.45" width="327.81" height="29.19"/>
      <rect class="cls-16" x="1289.85" y="3250.64" width="327.81" height="30.53"/>
      <rect class="cls-16" x="1425.09" y="3385.62" width="87.58" height="86.51"/>
      <rect class="cls-19" x="1453.75" y="3385.62" width="31.6" height="24.91"/>
      <rect class="cls-16" x="1512.67" y="3385.62" width="87.58" height="86.51"/>
      <rect class="cls-19" x="1541.32" y="3385.62" width="31.6" height="24.91"/>
      <rect class="cls-16" x="1512.67" y="3299.11" width="87.58" height="86.51"/>
      <rect class="cls-19" x="1541.32" y="3299.11" width="31.6" height="24.91"/>
    </g>
  </g>
  <rect class="cls-16" x="2308.67" y="1976.81" width="518.03" height="324.86"/>
  <path class="cls-20" d="M2344.4,1976.81h49.23s6.3,42.56-24.77,42.56C2356.79,2019.37,2340.79,2008.73,2344.4,1976.81Z"/>
  <path class="cls-20" d="M2445,1976.81h49.24s6.29,42.56-24.77,42.56C2457.34,2019.37,2441.34,2008.73,2445,1976.81Z"/>
  <path class="cls-20" d="M2545.51,1976.81h49.23s6.29,42.56-24.77,42.56C2557.9,2019.37,2541.9,2008.73,2545.51,1976.81Z"/>
  <path class="cls-20" d="M2646.06,1976.81h49.24s6.29,42.56-24.78,42.56C2658.45,2019.37,2642.45,2008.73,2646.06,1976.81Z"/>
  <rect class="cls-16" x="2308.67" y="2301.67" width="518.03" height="16.37"/>
  <rect class="cls-16" x="2293.6" y="2318.04" width="548.37" height="15.28"/>
  <rect class="cls-16" x="2677.55" y="2056.11" width="114.23" height="245.56"/>
  <rect class="cls-17" x="2691.51" y="2070.66" width="85.03" height="160.07"/>
  <rect class="cls-19" x="2348.68" y="2056.11" width="288.12" height="190.63"/>
  <rect class="cls-21" x="2369.02" y="2074.3" width="250.5" height="156.43"/>
  <path class="cls-20" d="M2746.65,1976.81h52.26s6.68,42.56-26.29,42.56C2759.8,2019.37,2742.81,2008.73,2746.65,1976.81Z"/>
  <polygon class="cls-22" points="2828.05 1975.3 2298.55 1975.3 2312.51 1899.64 2809.42 1899.64 2828.05 1975.3"/>
  <polygon class="cls-17" points="2308.66 1901.14 2294.11 1976.81 2343.35 1976.81 2357.4 1901.14 2308.66 1901.14"/>
  <polygon class="cls-17" points="2404.34 1901.14 2393.63 1976.81 2444.95 1976.81 2453.08 1901.14 2404.34 1901.14"/>
  <polygon class="cls-17" points="2498.79 1901.14 2494.19 1976.81 2544.47 1976.81 2547.54 1901.14 2498.79 1901.14"/>
  <polygon class="cls-17" points="2594.01 1901.14 2595.78 1976.81 2645.02 1976.81 2642.76 1901.14 2594.01 1901.14"/>
  <polygon class="cls-17" points="2690.01 1901.14 2695.3 1976.81 2745.57 1976.81 2738.76 1901.14 2690.01 1901.14"/>
  <polygon class="cls-17" points="2783.59 1901.14 2799.14 1976.81 2846.13 1976.81 2826.18 1901.14 2783.59 1901.14"/>
  <path class="cls-17" d="M2294.12,1976.81h49.24s6.29,42.56-24.77,42.56C2306.51,2019.37,2290.51,2008.73,2294.12,1976.81Z"/>
  <path class="cls-17" d="M2394.4,1976.81h49.51s6.33,42.56-24.91,42.56C2406.85,2019.37,2390.76,2008.73,2394.4,1976.81Z"/>
  <path class="cls-17" d="M2495.23,1976.81h49.24s6.29,42.56-24.77,42.56C2507.62,2019.37,2491.62,2008.73,2495.23,1976.81Z"/>
  <path class="cls-17" d="M2595.78,1976.81H2645s6.29,42.56-24.77,42.56C2608.17,2019.37,2592.17,2008.73,2595.78,1976.81Z"/>
  <path class="cls-17" d="M2696.33,1976.81h49.24s6.29,42.56-24.77,42.56C2708.73,2019.37,2692.73,2008.73,2696.33,1976.81Z"/>
  <path class="cls-17" d="M2796.89,1976.81h49.24s6.29,42.56-24.77,42.56C2809.28,2019.37,2793.28,2008.73,2796.89,1976.81Z"/>
  <rect class="cls-16" x="2308.67" y="1869.12" width="518.03" height="32.01"/>
  <g>
    <path class="cls-20" d="M2488.92,2102s5-7,9.46-.73c3.12,4.36-4.91,10.39-4.91,10.39v4.51l-14.25,6.71"/>
    <line class="cls-20" x1="2493.47" y1="2116.19" x2="2506.64" y2="2123.46"/>
    <path class="cls-17" d="M2471.43,2119.28l-25.9,24.68,13,16.09,12.73-10-3.87,54.05,53.91-.29-4.3-55.05,11,8,11.92-14.57L2514.43,2119s-12.53,5.11-21.69,5.16C2483.21,2124.2,2471.43,2119.28,2471.43,2119.28Z"/>
  </g>
  <g>
    <rect class="cls-16" x="1849.64" y="1991.66" width="411.58" height="311.09"/>
    <path class="cls-20" d="M1851.35,1991.66h55.49s7.09,40.76-27.92,40.76C1865.32,2032.42,1847.29,2022.23,1851.35,1991.66Z"/>
    <path class="cls-20" d="M1967.15,1991.66H2025s7.4,40.76-29.12,40.76C1981.72,2032.42,1962.91,2022.23,1967.15,1991.66Z"/>
    <path class="cls-20" d="M2085.38,1991.66h57.88s7.41,40.76-29.12,40.76C2100,2032.42,2081.13,2022.23,2085.38,1991.66Z"/>
    <path class="cls-20" d="M2203.58,1991.66h55.67s7.11,40.76-28,40.76C2217.59,2032.42,2199.5,2022.23,2203.58,1991.66Z"/>
    <rect class="cls-23" x="1849.64" y="2302.75" width="411.58" height="15.68"/>
    <rect class="cls-16" x="1835.21" y="2318.43" width="443.27" height="14.63"/>
    <rect class="cls-20" x="1882.3" y="2067.6" width="109.38" height="235.15"/>
    <rect class="cls-17" x="1896.27" y="2081.54" width="81.43" height="65.67"/>
    <path class="cls-17" d="M1908,1991.66h57.89s7.4,40.76-29.12,40.76C1922.61,2032.42,1903.8,2022.23,1908,1991.66Z"/>
    <path class="cls-17" d="M2026.27,1991.66h57.88s7.4,40.76-29.12,40.76C2040.83,2032.42,2022,2022.23,2026.27,1991.66Z"/>
    <path class="cls-17" d="M2144.49,1991.66h57.89s7.4,40.76-29.13,40.76C2159.06,2032.42,2140.25,2022.23,2144.49,1991.66Z"/>
    <rect class="cls-16" x="1849.64" y="1888.54" width="411.58" height="30.66"/>
    <rect class="cls-16" x="1849.64" y="1919.2" width="411.58" height="72.46"/>
    <path class="cls-20" d="M2102.67,2175.49H2020.9v-91.84s19.63-20.4,40.88-20.4c26.14,0,40.89,20.4,40.89,20.4Z"/>
    <line class="cls-20" x1="2020.9" y1="2127.69" x2="2102.67" y2="2127.69"/>
    <path class="cls-20" d="M2231.42,2175.4h-81.77v-91.83s19.63-20.41,40.88-20.41c26.14,0,40.89,20.41,40.89,20.41Z"/>
    <line class="cls-20" x1="2149.65" y1="2127.6" x2="2231.42" y2="2127.6"/>
    <text class="cls-24" transform="translate(1984.89 1965.41)">C<tspan class="cls-25" x="22.96" y="0">L</tspan><tspan class="cls-26" x="40.85" y="0">O</tspan><tspan x="66.72" y="0">TH SHOP</tspan></text>
  </g>
  <g>
    <rect class="cls-16" x="875.37" y="729.89" width="408.05" height="547.69"/>
    <rect class="cls-16" x="1283.42" y="907.48" width="246.73" height="370.1"/>
    <rect class="cls-16" x="905.42" y="700.07" width="347.95" height="29.82"/>
    <rect class="cls-16" x="948.8" y="639.51" width="261.19" height="60.55"/>
    <rect class="cls-20" x="905.42" y="775.08" width="63.49" height="63.49"/>
    <rect class="cls-20" x="1047.65" y="775.08" width="63.49" height="63.49"/>
    <rect class="cls-20" x="1184.46" y="775.08" width="63.49" height="63.49"/>
    <rect class="cls-20" x="905.42" y="902.52" width="63.49" height="63.49"/>
    <rect class="cls-20" x="1047.65" y="902.52" width="63.49" height="63.49"/>
    <rect class="cls-20" x="1184.46" y="902.52" width="63.49" height="63.49"/>
    <rect class="cls-20" x="905.42" y="1029.95" width="63.49" height="63.49"/>
    <rect class="cls-20" x="1047.65" y="1029.95" width="63.49" height="63.49"/>
    <rect class="cls-20" x="1184.46" y="1029.95" width="63.49" height="63.49"/>
    <rect class="cls-20" x="905.42" y="1157.38" width="63.49" height="63.49"/>
    <rect class="cls-20" x="1184.46" y="1157.38" width="63.49" height="63.49"/>
    <rect class="cls-17" x="1007.55" y="1157.38" width="143.7" height="120.2"/>
    <line class="cls-27" x1="1079.4" y1="1157.38" x2="1079.4" y2="1277.58"/>
    <rect class="cls-17" x="1366.12" y="938.66" width="81.34" height="81.34"/>
    <rect class="cls-19" x="1366.12" y="1051.86" width="81.34" height="81.34"/>
    <rect class="cls-20" x="1360.02" y="1172.74" width="93.54" height="104.84"/>
    <rect class="cls-16" x="1302.53" y="752.69" width="208.52" height="120.32"/>
    <rect class="cls-16" x="1326.48" y="873" width="11.58" height="34.48"/>
    <rect class="cls-16" x="1473.54" y="873" width="11.58" height="34.48"/>
    <text class="cls-28" transform="translate(1013.49 687.04)">EGGPLANT</text>
  </g>
  <text class="cls-29" transform="translate(2103.74 875.45)">關於茄子切貨網<tspan class="cls-30"><tspan x="0" y="144">茄子切貨網成立於２０１８</tspan><tspan class="cls-31" x="645.6" y="144">年</tspan><tspan class="cls-32" x="698.4" y="144">，</tspan><tspan class="cls-33" x="728.2" y="144">期許能為供</tspan><tspan x="0" y="216">應商解決切貨品囤積問</tspan><tspan class="cls-34" x="538" y="216">題</tspan><tspan class="cls-35" x="590.8" y="216">，</tspan><tspan class="cls-36" x="620.1" y="216">以</tspan><tspan class="cls-33" x="672.9" y="216">及讓批發商藉</tspan><tspan x="0" y="288">此平台購買到更多樣化且平價之商</tspan><tspan class="cls-34" x="807" y="288">品</tspan><tspan class="cls-37" x="859.8" y="288">。</tspan></tspan></text>
  <text class="cls-29" transform="translate(578.87 2021.15)">最快速方便的好夥伴<tspan class="cls-30"><tspan x="0" y="144">批發商藉此平台在家也能快速的找到所需要</tspan><tspan x="0" y="216">的商</tspan><tspan class="cls-31" x="107.6" y="216">品</tspan><tspan class="cls-32" x="160.4" y="216">，</tspan><tspan class="cls-33" x="190.2" y="216">並透過宅配的方式寄送到家</tspan><tspan class="cls-34" x="835.8" y="216">裡</tspan><tspan class="cls-38" x="888.6" y="216">。</tspan></tspan></text>
  <text class="cls-29" transform="translate(2103.74 3083.05)">時尚與品質的保證<tspan class="cls-30"><tspan x="0" y="144">本網站之商品皆為各大紡織廠的切貨</tspan><tspan class="cls-34" x="860.8" y="144">品</tspan><tspan class="cls-37" x="913.6" y="144">，</tspan><tspan x="943.4" y="144">品</tspan><tspan x="0" y="216">質的保證也透過茄子切貨網的認可與保</tspan><tspan class="cls-31" x="914.6" y="216">證</tspan><tspan class="cls-32" x="967.4" y="216">，</tspan><tspan x="0" y="288">讓批發商能買得安心又開</tspan><tspan class="cls-34" x="591.8" y="288">心</tspan><tspan class="cls-37" x="644.6" y="288">。</tspan></tspan></text>
</svg>
