body {
  background-image: image-url("background.png");
  background-size: cover;
  background-position: left, top;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: rgba(155, 58, 246 ,0.3);
  margin-left: 20px;
  margin-right: 20px;
}
.fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: #c1c0bc;
    text-align:center;
    font-size: 18pt;
    color:#fff;
    line-height:30px;
}
.fixedsize {
    font-size: 14pt;
}
.center {
   text-align:center;
}

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 5px;
  margin-top: 0px;
  margin-left: -21px;
  margin-right: -21px;
  text-align: center;
}

.navbar-brand{
  padding: 0px 15px;
}
