body {
  background-image: image-url("background.png");
  background-size: cover;
  background-position: left, top;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: rgba(155, 58, 246 ,0.3);
}

p {
  margin: 0px;
}

.overlay {
  position: fixed;
  height: 100%;
  bottom: 0;
  top: 0;
  right: 20px;
  left: 20px;
  background: rgba(255, 255, 255, 0.3);
}

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 5px;
  margin-top: 0px;
  text-align: center;
}

ul.nav.navbar-nav.navbar-left {
  margin-left: 20px;
  font-size: 14px;
}

.navbar-brand{
  padding: 6px 15px;
}

#search-icon {
  margin-top: 3px;
}

footer {
  padding: 10px 10px;
  background: rgba(255, 255, 255, 0.6);
  bottom: 0;
  width: 100%;
  position: absolute;
}

.footer {
  color: #110b0a;
  font-size: 13pt;
  margin-left: 10px;
  margin-right: 10px;
}

.copyright {
  color: #59544f;
  font-size: 11pt;
}

.fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: #fff;
  text-align: center;
  line-height: 30px;
}

.nav-justified > li {
  display: table-cell;
  width: 1%;
}
.nav-justified > li > a {
  margin-bottom: 0;
}

@media screen and (min-width: 790px){
  #custom-search-input{
    display: none;
  }

  .phone-nav {
    display: none;
  }

  .phone-fix {
    display: none;
  }
}

/*smaill*/

@media screen and (max-width: 789px){
  nav.navbar.navbar-default.navbar-expand-lg {
    display: none;
  }
}