body {
  background-image: image-url("background.png");
  background-size: cover;
  background-position: left, top;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: rgba(155, 58, 246 ,0.3);
  margin-left: 20px;
  margin-right: 20px;
}

p {
  margin: 0px;
}

.overlay {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  background: rgba(255, 255, 255, 0.3);
  padding: 15px;
  padding-bottom: 120px;
  margin-top: -15px;
  margin-bottom: -94px;
}

.fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: #c1c0bc;
    text-align:center;
    font-size: 18pt;
    color:#fff;
    line-height:30px;
}
.fixedsize {
  font-size: 14pt;
}
.center {
  text-align:center;
}

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 5px;
  margin-top: 0px;
  margin-left: -21px;
  margin-right: -21px;
  text-align: center;
}

ul.nav.navbar-nav.navbar-left {
  margin-left: 20px;
  font-size: 14px;
}

.navbar-brand{
  padding: 6px 15px;
}

#search-icon {
  margin-top: 3px;
}

footer {
  background: rgba(255, 255, 255, 0.6);
  padding: 15px;
  margin-right: -20px;
  margin-left: -20px;
}

.footer {
  color: #110b0a;
  font-size: 13pt;
  margin-left: 10px;
  margin-right: 10px;
}

.copyright {
  color: #59544f;
  font-size: 11pt;
}

.fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: #fff;
  text-align: center;
  line-height: 30px;
}

@media screen and (min-width: 768px){
  #custom-search-input{
    display: none;
  }

  ul.nav.nav-justified {
    display: none;
  }

  .phone-fix {
    display: none;
  }
}

/*smaill*/

@media screen and (max-width: 767px){
  nav {
    display: none;
  }
}