<% tab "index" %>

<div class="container">
  <!--Carousel-->
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="https://farm5.staticflickr.com/4866/44387161250_dbd465f098_k.jpg alt="..." style="width:100%;">
      </div>

      <div class="item">
        <img src="https://farm5.staticflickr.com/4896/44387157540_229fda41a4_k.jpg" alt="..." style="width:100%;">
      </div>
    
      <div class="item">
        <img src="https://farm5.staticflickr.com/4813/32332219188_e502f2569c_k.jpg" alt="..." style="width:100%;">
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<br><br><br>

<div class="container">
  <div class="row">

    <div class="col-xs-4 col-md-4 col-sm-4 offset--xs-1 offset-md-1 offset-sm-1">
      <img src="https://farm5.staticflickr.com/4868/31265193967_a407b76b0a_k.jpg" alt="..." class="img-reponsive" width="100%">
    </div>

    <div class="col-xs-4 col-md-4 col-sm-4 offset--xs-1 offset-md-1 offset-sm-1">
      <img src="https://farm5.staticflickr.com/4891/31265191487_17604ab0cd_k.jpg" alt="..." class="img-reponsive" width="100%">
    </div>

    <div class="col-xs-4 col-md-4 col-sm-4 offset--xs-1 offset-md-1 offset-sm-1">
      <img src="https://farm5.staticflickr.com/4903/31265188657_5bff5f0eb3_k.jpg" alt="..." class="img-reponsive" width="100%">
    </div>

  </div>
</div>

<br><br><br>

<div class="container">
  <div class="row">

    <div class="col-xs-6 col-md-3 col-sm-3 offset--xs-1 offset-md-1 offset-sm-1">
      <img src="https://farm5.staticflickr.com/4885/45291589815_cc94ea3dd2_k.jpg" alt="..." class="img-reponsive" width="100%">

      <br>

      <br><br>
    </div>

    <div class="col-xs-6 col-md-3 col-sm-3 offset--xs-1 offset-md-1 offset-sm-1">
      <img src="https://farm5.staticflickr.com/4907/31265187207_9f5aeb21ca_k.jpg" alt="..." class="img-reponsive" width="100%">
      
      <br>

      <br><br>
    </div>

    <div class="col-xs-6 col-md-3 col-sm-3 offset--xs-1 offset-md-1 offset-sm-1">
      <img src="https://farm5.staticflickr.com/4879/45291584425_df70af663a_k.jpg" alt="..." class="img-reponsive" width="100%">
      
      <br>

      <br><br>
    </div>

    <div class="col-xs-6 col-md-3 col-sm-3 offset--xs-1 offset-md-1 offset-sm-1">
      <img src="https://farm5.staticflickr.com/4809/31265181027_abc96890cd_k.jpg" alt="..." class="img-reponsive" width="100%">
      
      <br>

      <br><br>
    </div>

    <div class="col-xs-6 col-md-3 col-sm-3 offset--xs-1 offset-md-1 offset-sm-1">
      <img src="https://farm5.staticflickr.com/4870/31265176697_c78bf7d30b_k.jpg" alt="..." class="img-reponsive" width="100%">
      
      <br>

      <br><br>
    </div>

    <div class="col-xs-6 col-md-3 col-sm-3 offset--xs-1 offset-md-1 offset-sm-1">
      <img src="https://farm5.staticflickr.com/4825/31265176067_b38089caad_k.jpg" alt="..." class="img-reponsive" width="100%">
      
      <br>

      <br><br>
    </div>

    <div class="col-xs-6 col-md-3 col-sm-3 offset--xs-1 offset-md-1 offset-sm-1">
      <img src="https://farm5.staticflickr.com/4804/44387133190_dd0a1438a0_k.jpg" alt="..." class="img-reponsive" width="100%">
      
      <br>

      <br><br>
    </div>

    <div class="col-xs-6 col-md-3 col-sm-3 offset--xs-1 offset-md-1 offset-sm-1">
      <img src="https://farm5.staticflickr.com/4877/31265171937_e1b82f54cc_k.jpg" alt="..." class="img-reponsive" width="100%">
      
      <br>

      <br><br>
    </div>

  </div>
</div>

<br><br>

<div class="container"> 
  <div class="row">

    <div class="col-xs-12 col-md-12 col-sm-12 offset-xs-1 offset-md-1 offset-sm-1">
      <div class="img-responsive" id="example" style="width: 100%; height: 450px; background-color: white; margin: 0px auto;"></div>
      <br><br><br><br>
    </div>

  </div>
</div>

<script type="text/javascript">
  
  var i = 0

  var words = [{text: '', weight: 0}]

  while(i < gon.title.length-1){
    if(gon.size[i] > 50){
      words.push({ text: gon.title[i], weight: gon.size[i] - i * 3})
    }else{
      words.push({ text: gon.title[i], weight: gon.size[i]})
    }
    i += 1
  }
  
  $("#example").jQCloud(words);
  $("#example").css("font-family", "微軟正黑體");

</script>

<style type="text/css">

.w4 {
  color: #B28FCE !important;
}

.w5 {
  color: #986DB2 !important;
}

.w6 {
  color: #77428D !important;
}

.w7 {
  color: #66327C !important;
}

.w8 {
  color: #533D58 !important;
}

.w9 {
  color: #4A225D !important;
}

.w10 {
  color: #3C2F41 !important;
}

</style>
